<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Poznámkovník</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>
<body>
    <center>
<h1>POZNÁMKY</h1>

    {% for i in poznamky %}
   
     <br>  
            <div class="pozadi"¨
            {% if i[3] == 1 %}style="border-color:yellow;"{% endif %}
            {% if i[3] == 2 %}style="border-color:blue;"{% endif %}
            {% if i[3] == 3 %}style="border-color:red;"{% endif %}>
                        
                <span class="dot"></span>
           <br> {{ i[1] }} <br>
        {{ i[2] }} <br>
        {{ i[3] }}
            <a href="/smaz/{{ i[0] }}">Smazat</a>
            <a href="/uprav/{{ i[0] }}">Upravit</a>
            <br>
            
        </div>
    </div>
        
        
     
    {% endfor %}


    <br>
 <h3><a href="/poznamka/vlozit">Vložit poznámku</a></h3>
</center>
</body>
</html>
